/* General Settings */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Noto Sans TC', sans-serif;
}

.wrap {
  width: 100%;
  max-width: 960px;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgb(252, 252, 252);
  margin-bottom: 24px;
}

.info {
  width: 353px;
  background-color: #000;
  z-index: 1;
  color: #fff;
}

.main-title {
  background-color: rgb(171, 0, 8);
  display: flex;
  justify-content: flex-end;
}

.main-title span:nth-child(1) {
  align-self: flex-end;
  font-size: 100px;
  line-height: 100px;
  font-weight: 100;
  flex-grow: 1;
  transform: rotate(90deg);
  padding-top: 5px;
}

.main-title span:nth-child(2) {
  padding: 30px 5px;
  font-size: 50px;
  font-weight: 100;
  flex-grow: 2;
}

.main-desc {
  width: 321px;
  background-color: #000;
  color: #fff;
  padding: 8px 16px;
  margin-top: -434px;
  z-index: 1;
}

.main-desc span {
  display: block;
  font-size: 24px;
  font-weight: 200;
  padding: 8px 8px;
}

.main-desc p {
  font-size: 18px;
  line-height: 2;
  font-weight: 100;
  padding: 8px 8px;
}

.movie .play-icon {
  width: 0;
  height: 0;
  margin-left: 18px;
  border-top: 8px solid transparent;
  border-left: 26px solid #fff;
  border-bottom: 8px solid transparent;
}

.color-block {
  width: 439px;
  height: 290px;
  background-color: rgb(241, 241, 241);
  position: absolute;
}

.movie {
  width: 695px;
  z-index: 0;
  position: relative;
}

.movie img {
  width: 100%;
  height: 430px;
}

.play-button {
  width: 57px;
  height: 36px;
  background-color: rgb(171, 0, 8);
  position: absolute;
  display: flex;
  align-items: center;
  top: 200px;
}

.revolution {
  width: 682px;
  background-color: rgb(234, 234, 234);
  margin-top: 180px;
  z-index: 1;
}

.revolution .container {
  padding: 8px 20px;
}

.revolution h3 {
  color: rgb(179, 32, 43);
  padding-bottom: 12px;
}

.revolution h3::after {
  content: '';
  display: inline-block;
  width: 445px;
  height: 2px;
  margin-left: 8px;
  margin-bottom: 4px;
  background-color: rgb(179, 32, 43);
}

.revolution .special-point {
  padding: 4px 0;
}

.revolution .item {
  padding-top: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.revolution .list-point div {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgb(179, 32, 43);
  align-self: start;
  margin: 8px 8px;
}

.revolution h4 {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  color: #fff;
  background-color: #000;
}


/* left site */
.wrap .color-block {
  right: 0;
  top: 50px;
}

.wrap .movie {
  margin-left: 160px;
}

.wrap .movie .play-button {
  right: -12px;
}

/* right side */
.wrap-oppisite {
  align-items: flex-end;
  flex-direction: column;
}

.wrap-oppisite .color-block {
  width: 518px;
  height: 413px;
  right: 120px;
  top: 60px;
}

.wrap-oppisite .movie {
  margin-right: 250px;
}

.wrap-oppisite .play-button {
  left: -12px;
}

/* section 3, 4, revolution block */
.wrap .section3, .wrap-oppisite .section4 {
  margin-top: 144px;
}

/* section 4 block position */
.wrap-oppisite .block4 {
  width: 518px;
  height: 441px;
  right: 145px;
  top: 30px;
}
